src/main/app/poc_nisc_service_delivery_cms_system_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="poc_nisc_service_delivery_cms_system_api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="poc_nisc_service_delivery_cms_system_api-config" raml="poc_nisc_service_delivery_cms_system_api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="poc_nisc_service_delivery_cms_system_api-main">
        <http:listener config-ref="poc_nisc_service_delivery_cms_system_api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="poc_nisc_service_delivery_cms_system_api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="poc_nisc_service_delivery_cms_system_api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="poc_nisc_service_delivery_cms_system_api-console">
        <http:listener config-ref="poc_nisc_service_delivery_cms_system_api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="poc_nisc_service_delivery_cms_system_api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/service/order/{id}:application/json:poc_nisc_service_delivery_cms_system_api-config">
        <set-payload value="{&#xA;   &quot;id&quot;:1234,&#xA;   &quot;href&quot;:&quot;&quot;,&#xA;   &quot;name&quot;:&quot;&quot;,&#xA;   &quot;description&quot;:&quot;&quot;,&#xA;   &quot;type&quot;:&quot;&quot;,&#xA;   &quot;version&quot;:&quot;&quot;,&#xA;   &quot;state&quot;:&quot;Active&quot;,&#xA;   &quot;serviceSpecification&quot;:{&#xA;      &quot;id&quot;:&quot;conferenceBridgeEquipment&quot;,&#xA;      &quot;href&quot;:&quot;http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment&quot;&#xA;   },&#xA;   &quot;serviceCharacteristic&quot;:[&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc500Units&quot;,&#xA;         &quot;value&quot;:&quot;1&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc100Units&quot;,&#xA;         &quot;value&quot;:&quot;2&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;routerType&quot;,&#xA;         &quot;value&quot;:&quot;CiscoASR1000&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;powerSupply&quot;,&#xA;         &quot;value&quot;:&quot;UK&quot;&#xA;      }&#xA;   ],&#xA;   &quot;serviceRelationship&quot;:[&#xA;&#xA;   ],&#xA;   &quot;relatedParty&quot;:[&#xA;&#xA;   ],&#xA;   &quot;supportingService&quot;:[&#xA;&#xA;   ],&#xA;   &quot;supportingResource&quot;:[&#xA;&#xA;   ],&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/service/order/{id}:poc_nisc_service_delivery_cms_system_api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/service/order:poc_nisc_service_delivery_cms_system_api-config">
        <set-payload value="[&#xD;&#xA;   {&#xD;&#xA;      &quot;id&quot;:1234,&#xD;&#xA;      &quot;href&quot;:&quot;&quot;,&#xD;&#xA;      &quot;name&quot;:&quot;&quot;,&#xD;&#xA;      &quot;description&quot;:&quot;&quot;,&#xD;&#xA;      &quot;type&quot;:&quot;&quot;,&#xD;&#xA;      &quot;version&quot;:&quot;&quot;,&#xD;&#xA;      &quot;state&quot;:&quot;Active&quot;,&#xD;&#xA;      &quot;serviceSpecification&quot;:{&#xD;&#xA;         &quot;id&quot;:&quot;conferenceBridgeEquipment&quot;,&#xD;&#xA;         &quot;href&quot;:&quot;http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment&quot;&#xD;&#xA;      },&#xD;&#xA;      &quot;serviceCharacteristic&quot;:[&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;numberOfVc500Units&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;1&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;numberOfVc100Units&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;2&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;routerType&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;CiscoASR1000&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;powerSupply&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;UK&quot;&#xD;&#xA;         }&#xD;&#xA;      ],&#xD;&#xA;      &quot;serviceRelationship&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;relatedParty&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;supportingService&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;supportingResource&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;links&quot;:[&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/info&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;GET&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/updateInfo&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;PUT&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/delete&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;DELETE&quot;&#xD;&#xA;         }&#xD;&#xA;      ]&#xD;&#xA;   },&#xD;&#xA;   {&#xD;&#xA;      &quot;id&quot;:5678,&#xD;&#xA;      &quot;href&quot;:&quot;&quot;,&#xD;&#xA;      &quot;name&quot;:&quot;&quot;,&#xD;&#xA;      &quot;description&quot;:&quot;&quot;,&#xD;&#xA;      &quot;type&quot;:&quot;&quot;,&#xD;&#xA;      &quot;version&quot;:&quot;&quot;,&#xD;&#xA;      &quot;state&quot;:&quot;Active&quot;,&#xD;&#xA;      &quot;serviceSpecification&quot;:{&#xD;&#xA;         &quot;id&quot;:&quot;conferenceBridgeEquipment&quot;,&#xD;&#xA;         &quot;href&quot;:&quot;http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment&quot;&#xD;&#xA;      },&#xD;&#xA;      &quot;serviceCharacteristic&quot;:[&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;numberOfVc500Units&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;1&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;numberOfVc100Units&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;2&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;routerType&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;CiscoASR1000&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;name&quot;:&quot;powerSupply&quot;,&#xD;&#xA;            &quot;value&quot;:&quot;UK&quot;&#xD;&#xA;         }&#xD;&#xA;      ],&#xD;&#xA;      &quot;serviceRelationship&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;relatedParty&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;supportingService&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;supportingResource&quot;:[&#xD;&#xA;&#xD;&#xA;      ],&#xD;&#xA;      &quot;links&quot;:[&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/info&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;GET&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/updateInfo&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;PUT&quot;&#xD;&#xA;         },&#xD;&#xA;         {&#xD;&#xA;            &quot;rel&quot;:&quot;/linkrels/service/order/delete&quot;,&#xD;&#xA;            &quot;uri&quot;:&quot;/service/order/5678&quot;,&#xD;&#xA;            &quot;method&quot;:&quot;DELETE&quot;&#xD;&#xA;         }&#xD;&#xA;      ]&#xD;&#xA;   }&#xD;&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/service/order/{id}:poc_nisc_service_delivery_cms_system_api-config">
        <set-payload value="{&#xA;   &quot;id&quot;:1234,&#xA;   &quot;href&quot;:&quot;&quot;,&#xA;   &quot;name&quot;:&quot;&quot;,&#xA;   &quot;description&quot;:&quot;&quot;,&#xA;   &quot;type&quot;:&quot;&quot;,&#xA;   &quot;version&quot;:&quot;&quot;,&#xA;   &quot;state&quot;:&quot;Active&quot;,&#xA;   &quot;serviceSpecification&quot;:{&#xA;      &quot;id&quot;:&quot;conferenceBridgeEquipment&quot;,&#xA;      &quot;href&quot;:&quot;http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment&quot;&#xA;   },&#xA;   &quot;serviceCharacteristic&quot;:[&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc500Units&quot;,&#xA;         &quot;value&quot;:&quot;1&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc100Units&quot;,&#xA;         &quot;value&quot;:&quot;2&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;routerType&quot;,&#xA;         &quot;value&quot;:&quot;CiscoASR1000&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;powerSupply&quot;,&#xA;         &quot;value&quot;:&quot;UK&quot;&#xA;      }&#xA;   ],&#xA;   &quot;serviceRelationship&quot;:[&#xA;&#xA;   ],&#xA;   &quot;relatedParty&quot;:[&#xA;&#xA;   ],&#xA;   &quot;supportingService&quot;:[&#xA;&#xA;   ],&#xA;   &quot;supportingResource&quot;:[&#xA;&#xA;   ],&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/service/order:application/json:poc_nisc_service_delivery_cms_system_api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;   &quot;id&quot;: 1234,&#xA;   &quot;state&quot;:&quot;Active&quot;,&#xA;   &quot;serviceSpecification&quot;:{&#xA;      &quot;id&quot;:&quot;conferenceBridgeEquipment&quot;,&#xA;      &quot;href&quot;:&quot;http://serverlocation:port/catalogManagement/serviceSpecification /conferenceBridgeEquipment&quot;&#xA;   },&#xA;   &quot;serviceCharacteristic&quot;:[&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc500Units&quot;,&#xA;         &quot;value&quot;:&quot;1&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;numberOfVc100Units&quot;,&#xA;         &quot;value&quot;:&quot;2&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;routerType&quot;,&#xA;         &quot;value&quot;:&quot;CiscoASR1000&quot;&#xA;      },&#xA;      {&#xA;         &quot;name&quot;:&quot;powerSupply&quot;,&#xA;         &quot;value&quot;:&quot;UK&quot;&#xA;      }&#xA;   ],&#xA;   &quot;links&quot;:[&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/info&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;GET&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/updateInfo&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;PUT&quot;&#xA;      },&#xA;      {&#xA;         &quot;rel&quot;:&quot;/linkrels/service/order/delete&quot;,&#xA;         &quot;uri&quot;:&quot;/service/order/1234&quot;,&#xA;         &quot;method&quot;:&quot;DELETE&quot;&#xA;      }&#xA;   ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="poc_nisc_service_delivery_cms_system_api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
